.logo21 {
  height: 48px;
  width: 34.6px;
  position: relative;
  object-fit: cover;
  min-height: 48px;
}
.ubuildingIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.schools {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
}
.schoolsWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.frameContainer,
.schoolsWrapper,
.ubuildingParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ubuildingParent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frameContainer {
  height: 35px;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.urssInterfaceIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 24px;
}
.device {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 58px;
}
.deviceWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.deviceWrapper,
.frameDiv,
.urssInterfaceParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.urssInterfaceParent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frameDiv {
  height: 35px;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.frameChild {
  height: 46px;
  width: 46px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.jerryLouis {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.jerryLouisWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.fichevronDownIcon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ellipseParent,
.fichevronDownWrapper,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fichevronDownWrapper {
  height: 35px;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.ellipseParent,
.frameParent {
  align-self: stretch;
  flex-direction: row;
}
.ellipseParent {
  width: 196px;
  gap: var(--gap-xs);
  font-family: var(--font-noto-sans);
}
.frameParent {
  flex: 1;
  gap: var(--gap-28xl);
}
.frameWrapper,
.logo21Parent {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameWrapper {
  height: 47px;
  width: 477px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.logo21Parent {
  align-self: stretch;
  height: 74px;
  background-color: var(--color-gray-700);
  border-bottom: 1px solid var(--color-darkslategray-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-smi) var(--padding-43xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gainsboro-100);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 725px) {
  .frameParent {
    gap: 47px 23px;
  }
  .logo21Parent {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
}
